<h1>Corsairs#edit</h1>
 
<%= form_for(@corsair) do |f| %>
 
  <p>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </p>
 
  <p>
    <%= f.label :age %>
    <%= f.text_area :age %>
  </p>
 
   <p>
    <%= f.label :bio %>
    <%= f.text_field :bio %>
  </p>

    <p>
    <%= f.label :slack_handle %>
    <%= f.text_field :slack_handle %>
  </p>

    <p>
    <%= f.label :github_handle %>
    <%= f.text_field :github_handle %>
  </p>

  <%= f.radio_button(:likeness, "kebab") %>
  <%= f.label(:kebab, "I like kebab") %>
  <%= f.radio_button(:likeness, "hummus") %>
  <%= f.label(:hummus, "I like hummus") %>

  <p>
    <%= f.submit "submit your change" %>
    <%= link_to 'Clique pour détruire', @corsair, method: :delete %>
  </p>
<% end %>

